
  p{
    display: block;
  }
  body{
    background-color: black;
    color: white;

  }




  .move-button {
    background-color: transparent;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    opacity: 1;
    transition:opacity 0.3s;
  }
  .move-button:active{
    opacity: 0.5;
  }
  img{
    width: 80px;
    height: 80px;


  }
  .title{
    font-size: 60px;
    font-weight: bold;
    margin-left: 0px;

  }
  .js-result,
  .js-moves,
  .js-score{
    margin-left: 40px;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 0px;
  }
  .reset-button-css{
    margin-top: 20px;
    width: 300px;
    height: 100px;
    margin-left: 0px;
    front-size: 20px;
  }
