*{
  margin-left: 12px;
  margin-right: 12px;
  
}


img{
  width: 100%;
}
.head{
  margin-top: 100px;
  font-size: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  border-top: 8px solid black;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: space-between;
  justify-content: space-between;
  
}

@media (max-width: 800px){
  .main{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }


}
@media (max-width: 400px){
.main{
 grid-template-columns: 1fr; 
}
}

.lessons{
  margin-left: -12px;
  margin-top: 40px;
  position: relative;
  width: 100%;
}


.image,
.title,
.episode-number{
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.title{
  font-size: 20px;
  display: grid;
  margin-left: 24px;
}

.episode-number{
  font-size: 16px;
  margin-left: 24px;
  color: gray;
}

img{
  width: 100%;
  margin-left: -24px;
}

.tusul-ehlel{
  border-top: 2px solid black;
}

.tusul-word{
  margin-top: 20px;
  font-size: 25px;
  font-family: bold, arial;
}

.buh-hiceel{
  display: block;
  font-family: bold, arial;
  margin-top: 20px;
  font-size: 25px;
}
.main2{
  border: none;
}

.js-lesson{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: space-between;
  justify-content: space-between;
}